@import "../../App.scss";

.bg-profil {
  background-image: url("../../assets/maintwo.webp");
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;

  .avatar {
    border: 5px solid $red-color;
  }
}
