@import "../../App";

.NavBar {
  .authButton {
    background-color: $yellow-color;
    padding: 5px 20px;
    border-radius: 30px;
    width: 138px;
    font-family: 'Permanent Marker', cursive;
    white-space: nowrap;

    &:hover {
      background-color: #da9a03;
      color: black;
    }
  }
}
.NavBar a {
  font-family: 'Permanent Marker', cursive;
}